<h1> All Clients </h1>
<ul>

<% @clients.each do |client| %>
   <li>
    <p> <strong> Name: <%= link_to client.name, client_path(client) %> </strong> </p>
  </li>
    <%end%>

   </ul>
<%=button_to "Add Client" , new_client_path, method: "get"%>       
<%=button_to "Find Flight" , airlines_path, method: "get"%> 
<%=button_to "Find Hotel" , hotels_path, method: "get"%> 


