/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a:visited
{
    color: purple;
    font-style: italic;
}
a:hover
{
    font-weight: bold;
}
a:active
{
    color: #000000;
    font-variant: small-caps;
}
#container {
    -webkit-border-radius: 4px 3px 6px 10px;
    -moz-border-radius: 4px 3px 6px 10px;
    -o-border-radius: 4px 3px 6px 10px;
    border-radius: 4px 3px 6px 10px;
}
ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #ddd;
}
  
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}
h1,h2,h3,h4,h5{
    color: #005a9c;
  }
  h1{
    font-size: 2.6em;
    line-height: 2.45em;
  }
  h2{
    font-size: 2.1em;
    line-height: 1.9em;
  }
  h3{
    font-size: 1.8em;
    line-height: 1.65em;
  }
  h4{
    font-size: 1.65em;
    line-height: 1.4em;
  }
  h5{
    font-size: 1.4em;
    line-height: 1.25em;
  }
  * {
    font-size: 100%;
    font-family: Arial;
   }
   * {
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace
   }
   background-color:
